<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.coldrain.hotel_isu.mapper.room.RoomTypeMapper">

    <select id="findByAll" resultType="edu.coldrain.hotel_isu.domain.room.RoomType">
        SELECT RT.*
        FROM ROOMTYPE RT
    </select>

</mapper>